<div class="container">
    <div class="text">
        <div data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1000">
        <h1>À propos de nous</h1>
        </div>
        <h2><div data-aos="fade-right" data-aos-duration="900">MUSCULATION, CARDIO, CROSS-TRAINING,</div><div data-aos="fade-left" data-aos-duration="900">DANSE & AEROBIC EN ACCÈS ILLIMITÉ</div> </h2>
    </div>
    <div class="wrapper">
        <div class="item right-image">
            <div class="content" data-aos="zoom-out-right"  data-aos-duration="1000">
                <h3>ENTRAÎNEMENT EN ILLIMITÉ. 7J/7 - DE 6H À 23H*</h3>
                <hr>
                <p>
                    Trouve une salle de sport haut de gamme au meilleur rapport qualité/prix ! Avec son prix accessible, notre club te permet de t’entraîner efficacement à tout moment de la journée. Repousse tes limites dans MALO Gym ouverte 24h/24!
                    En t’inscrivant dans notre club, tu profites d’un abonnement dans une salle de sport à seulement 30€/4 semaines pour t’entraîner, te dépasser, te surpasser, et réaliser tous tes objectifs sans contrainte.
                </p>
            </div>
            <div class="image">
                <img src="../../../assets/img/fit.jpg" data-aos="zoom-out-left"  data-aos-duration="1100">
            </div>
        </div>

        <div class="item left-image">
            <div class="image">
                <img src="../../../assets/img/activite.jpg" data-aos="zoom-out-right" data-aos-duration="1100">
            </div>
            <div class="content" data-aos="zoom-out-left"  data-aos-duration="1000">
                <h3>DU MATÉRIEL DE QUALITÉ. POUR DES SÉANCES RÉUSSIES</h3>
                <hr>
                <p>
                    Dans les salles de sport Fitness Park, tu trouveras des installations haut de gamme et les meilleurs équipements du marché : TechnoGym, Hammer Strenght, Cybex, Yanga Sports Water, Sismo Fitness.
                    Nos installations sont adaptées pour que tu atteignes tes objectifs.
                    C’est pourquoi nos clubs sont équipés de matériel de qualité dernière génération pour te permettre de te surpasser à chaque séance.
                </p>
            </div>
        </div>

        <div class="item right-image">
            <div class="content" data-aos="zoom-out-right"  data-aos-duration="1000">
                <h3>DES ESPACES UNIQUES</h3>
                <hr>
                <p>
                    Avec MALO Gym, améliore ta condition physique, tonifie ton corps et développe ta masse musculaire. Grâce à des espaces adaptés sur plus de 1000m² façonne tes entraînements à la perfection:
                    *L’espace musculation, avec un large choix de machines à poids libres ou guidées et haltères. Idéal pour le renforcement musculaire et la prise de muscle.
                    *L’espace cardio training, avec des appareils connectés dernière génération (tapis de course, rameur, vélos elliptiques, etc.). Parfait pour te remettre en forme, la perte de poids rapide et tonifier tes abdos.
                    *L’espace cross-training pour tes entraînements les plus intensifs. Afin de brûler des calories en un temps record ou pour une préparation physique complète.
                </p>
            </div>
            <div class="image">
                <img src="../../../assets/img/apropos.jpg" data-aos="zoom-out-left" data-aos-duration="1100">
            </div>
        </div>
    </div>
    <div id="foot" class="text">
        <div data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1000">
        <h1>Rejoignez-Nous</h1>
        <h3>
            Rejoignez MALOGym et faites partie d'une communauté qui partage votre passion pour le fitness et le bien-être. Ensemble, nous pouvons accomplir de grandes choses et atteindre de nouveaux sommets.
        </h3>
        </div>
      </div>
   <div class="btn" data-aos="zoom-out"> <a routerLink="/package" class="btn">Rejoignez-Nous</a></div>
   
</div>