<body>
    <div class="wrapper">  
        <form action="">
            <h1  data-aos="zoom-in-right" data-aos-duration="900">S'authentifier</h1>
            <div class="input-box" data-aos="fade-up-right" data-aos-duration="1500">
                <input type="text" placeholder="Nom d'utilisateur" required>
                <i class="bi bi-person-fill"></i>
            </div>
            <div class="input-box" data-aos="fade-up-right" data-aos-duration="1500">
                <input type="password" placeholder="Mot de passe" required>
                <i class="bi bi-lock-fill"></i>
            </div>
            <div class="remember-forgot" >
                <label ><input type="checkbox" data-aos="flip-right"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="1500">Souvenir de moi</label>
                
            </div>
            <button type="submit" routerLink="/adherant-list" class="btn"  data-aos="flip-right"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="1500">Se connecter</button>
           
        </form>
    </div>
</body>