
<section class="section-team">
    <!-- Start Header Section -->
    <div id="h" class="row justify-content-center text-center">
        <div class="col-md-4 col-lg-9">
            <div class="header-section">
                <h2 class="title"  data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="900" >Notre équipe professionnelle</h2>
                <h3  data-aos="fade-right" data-aos-duration="1300" class="small-title">Que vous soyez un athlète aguerri ou que vous commenciez tout juste votre parcours de remise en forme, ou vous souhaitez faire des séances de danse pour vous détendre, notre équipe dévouée est là pour vous accompagner à chaque étape du chemin. Nos instructeurs certifiés sont passionnés par ce qu'ils font et sont déterminés à vous inspirer à repousser vos limites et à réaliser votre plein potentiel.</h3>
            </div> 
        </div>
    </div>


<div class="container">
    <div class="row gy-3" data-aos="fade-up-right" data-aos-duration="1500">
        <div class="col-md-4">
            <div class="card">
            <img src="../../assets/img/gerantad.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Notre Gérant <span>Adnane</span></h3>
              <p class="card-text">Mr. Adnane est le pilier de MALOGym. Avec plus de 20 ans d'expérience dans l'industrie du fitness, il a une connaissance approfondie de la gestion de salle de sport et de l'entraînement personnel. Son objectif est de créer un environnement accueillant et motivant pour tous les membres.</p>
              <div class="col-lg-4">
                <a href="#" target="_blank" class="me-3"><i class="bi bi-facebook"></i> </a>
                <a href="#" target="_blank" class="me-3"><i class="bi bi-whatsapp"></i>  </a>
                <a href="#" target="_blank" class="me-3"><i class="bi bi-instagram"></i> </a>
                <a href="#" target="_blank"><i class="bi bi-youtube"></i> </a>
    
               </div>
            </div>
          </div>
        </div>
    
    <div class="col-md-4" data-aos="fade-up-right" data-aos-duration="1500">  
        <div class="card">
        <img src="../../assets/img/RECEPTIONNITA.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Notre Réceptionniste <span>Salma</span></h3>
          <p class="card-text">Salma est notre aimable réceptionniste, accueillant chaque membre et visiteur avec une attitude amicale. Avec sa capacité à gérer les tâches administratives, Salma assure un accueil professionnel à notre salle de sport. Elle crée une atmosphère accueillante pour tous ceux qui franchissent nos portes.</p>
          <div class="col-lg-4">
            <a href="#" target="_blank" class="me-3"><i class="bi bi-facebook"></i> </a>
            <a href="#" target="_blank" class="me-3"><i class="bi bi-whatsapp"></i>  </a>
            <a href="#" target="_blank" class="me-3"><i class="bi bi-instagram"></i> </a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i> </a>

           </div>
        </div>
      </div>
    </div>
<div class="col-md-4" data-aos="fade-up-right" data-aos-duration="1500">
    <div class="card">
        <img src="../../assets/img/Coachs6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Coach <span>Youssef</span></h3>
          <p class="card-text">Youssef est notre expert en musculation et en développement de la force. Il travaille avec des clients de tous niveaux, des débutants aux athlètes avancés. Grâce à son approche méthodique et à son expérience, il aide chaque membre à atteindre ses objectifs de manière progressive.</p>
          <div class="col-lg-4">
            <a href="#" target="_blank" class="me-3"><i class="bi bi-facebook"></i> </a>
            <a href="#" target="_blank" class="me-3"><i class="bi bi-whatsapp"></i>  </a>
            <a href="#" target="_blank" class="me-3"><i class="bi bi-instagram"></i> </a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i> </a>

           </div>
        </div>
      </div>
</div>
<div class="col-md-4" data-aos="fade-up-right" data-aos-duration="1500">
    <div class="card">
        <img src="../../assets/img/COACH33.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Coach <span>Mohamed</span></h3>
          <p class="card-text">Mohamed est un coach dévoué spécialisé dans la remise en forme et la perte de poids. Fort de ses connaissances, Mohamed conçoit des programmes adaptés aux objectifs de chaque client. Il guide ses clients vers une transformation physique durable, afin d'atteindre leur poids santé et d'améliorer leur condition physique.</p>
          <div class="col-lg-4">
            <a href="#" target="_blank" class="me-3"><i class="bi bi-facebook"></i> </a>
            <a href="#" target="_blank" class="me-3"><i class="bi bi-whatsapp"></i>  </a>
            <a href="#" target="_blank" class="me-3"><i class="bi bi-instagram"></i> </a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i> </a>

           </div>
        </div>
      </div>
</div>

<div class="col-md-4" data-aos="fade-up-right" data-aos-duration="1500">
    <div class="card">
        <img src="../../assets/img/coach7.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Coach <span>Kawtar</span></h3>
          <p class="card-text">Kawtar est une préparatrice physique expérimentée avec plus de 7 ans dans le domaine, diplômé en préparation physique avancée. Elle se spécialise dans l'amélioration de la performance des athlètes. Kawtar utilise une approche personnalisée pour prévenir les blessures, aidant chaque individu à atteindre ses objectifs de manière efficace.</p>
          <div class="col-lg-4">
            <a href="#" target="_blank" class="me-3"><i class="bi bi-facebook"></i> </a>
            <a href="#" target="_blank" class="me-3"><i class="bi bi-whatsapp"></i>  </a>
            <a href="#" target="_blank" class="me-3"><i class="bi bi-instagram"></i> </a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i> </a>

           </div>
        </div>
      </div>
</div>
<div class="col-md-4" data-aos="fade-up-right" data-aos-duration="1500">
    <div class="card">
        <img src="../../assets/img/coachs5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Coach <span>Aymane</span></h3>
          <p class="card-text">Aymane est un cross trainer dynamique avec plus de 8 ans d'expérience, titulaire d'un diplôme en kinésiologie et certifié en entraînement croisé.<br> Spécialisé dans la combinaison d'exercices de cardio, de musculation, et de flexibilité, il crée des programmes variés et équilibrés pour améliorer la condition physique globale.</p>
          <div class="col-lg-4">
            <a href="#" target="_blank" class="me-3"><i class="bi bi-facebook"></i> </a>
            <a href="#" target="_blank" class="me-3"><i class="bi bi-whatsapp"></i>  </a>
            <a href="#" target="_blank" class="me-3"><i class="bi bi-instagram"></i> </a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i> </a>

           </div>
        </div>
      </div>
</div>
 <div class="col-md-4" data-aos="fade-up-right" data-aos-duration="1500">
    <div class="card">
        <img src="../../assets/img/COACH10.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Coach <span>Ayoub</span></h3>
          <p class="card-text">Ayoub est diplômé en diététique et en nutrition sportive. Il travaille en étroite collaboration avec nos coachs pour offrir des conseils alimentaires adaptés aux besoins individuels de chaque membre. Ses consultations visent à optimiser la performance, la récupération et le bien-être général.</p>
          <div class="col-lg-4">
            <a href="#" target="_blank" class="me-3"><i class="bi bi-facebook"></i> </a>
            <a href="#" target="_blank" class="me-3"><i class="bi bi-whatsapp"></i>  </a>
            <a href="#" target="_blank" class="me-3"><i class="bi bi-instagram"></i> </a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i> </a>

           </div>
        </div>
      </div>
 </div>
<div class="col-md-4" data-aos="fade-up-right" data-aos-duration="1500">
    <div class="card">
        <img src="../../assets/img/Coach31.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Coach <span>Leila</span></h5>
          <p class="card-text">Leila est une coach de danse et chorégraphe passionnée, diplômée en danse contemporaine. Avec plus de 5 ans d'expérience professionnelle, elle excelle dans divers styles et se consacre à aider chaque danseur à atteindre ses objectifs, que ce soit pour des compétitions ou simplement pour le plaisir.</p>
          <div class="col-lg-4">
            <a href="#" target="_blank" class="me-3"><i class="bi bi-facebook"></i> </a>
            <a href="#" target="_blank" class="me-3"><i class="bi bi-whatsapp"></i>  </a>
            <a href="#" target="_blank" class="me-3"><i class="bi bi-instagram"></i> </a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i> </a>

           </div>
        </div>
      </div>
</div>
<div class="col-md-4" data-aos="fade-up-right" data-aos-duration="1500">
    <div class="card">
        <img src="../../assets/img/coach66.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Coach <span>Ahmed</span></h3>
          <p class="card-text">Ahmed est un coach d'aérobie dynamique et motivant, spécialisé dans les séances cardiovasculaires énergiques et ludiques. Avec sa formation en fitness et sa certification en aérobic, il guide ses participants de tous niveaux vers leurs objectifs de remise en forme avec des séances efficaces et divertissantes.</p>
          <div class="col-lg-4">
            <a href="#" target="_blank" class="me-3"><i class="bi bi-facebook"></i> </a>
            <a href="#" target="_blank" class="me-3"><i class="bi bi-whatsapp"></i>  </a>
            <a href="#" target="_blank" class="me-3"><i class="bi bi-instagram"></i> </a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i> </a>

           </div>
        </div>
      </div>
</div>
</div>
</div>
</section>

